
header#header
    h1.title
        a(href="/")
            img.logo(src="/dist/img/logo.svg", alt="JULIANO")
    button#btn-nav-mobile.btn-link
        span.fa.fa-navicon.fa-lg(role="presentation")
        span.sr-only
            | Toggle Main Menu

    ul#nav-mobile(aria-hidden="true")
        each page in navigations.main
            li
                a(href=page.path) #{page.label}
        each social in navigations.social
            li
                a(href=social.path, target="_blank") #{social.label}

    ul#nav-main
        each page in navigations.main
            li
                a(href=page.path) #{page.label}
    ul#nav-social
        each social in navigations.social
            li
                a.social(href=social.path, target="_blank")
                    span(role="presentation", class=social.classname)
                    span.sr-only #{social.label}
