
mixin card (details)
    div.card
        div.card-figure
            img.card-img(src=details.thumbnail, alt=details.name)
            a.card-link(href=details.path, title="View details for " + details.name)
        div.card-details
            h3.card-title
                | #{details.name}
            p.card-desc
                | #{details.brief}
            a.card-link(href=details.path, title="View details for " + details.name)
                | View Details
