
extends ../shared/layouts/base

block content
    section.banner
        img.banner-img(src=page.banner.img, alt=page.banner.alt)
        div.banner-content
            h2.banner-title #{page.banner.title}
            div.banner-body
                | One-of-a-kind pieces
                br
                | made to fit your individual style.

    section.panel
        header.panel-heading
            h2.h3.panel-title
                | How it Works
        div.panel-body
            ol.list-steps
                li.step
                    div.step-heading
                        h4.step-title
                            | Think it
                    div.step-body
                        p
                            | Fill out the form below.
                            | I'll receive your request within 24 to 48 hours and contact you via email.
                            | Once in contact, we'll talk about your ideas and types of clothing you'd like to use.

                li.step
                    div.step-heading
                        h4.step-title
                            | Design it
                    div.step-body
                        p
                            | If you already know what you want then great; we can skip this step and move right to step 3.
                            | If not, this is the time where I'll come up with concept art.
                            | I'll send you sketches, references, and ideas to give you a visual of what the final piece will look like.

                li.step
                    div.step-heading
                        h4.step-title
                            | Create it
                    div.step-body
                        p
                            | Once we've decided on a direction, I'll create the finishing product.
                            | The time it takes depends on the size of your order and detail of the work being done.
                            | Most orders take five to seven days to complete and I give each client an estimate of what they can expect.

                li.step
                    div.step-heading
                        h4.step-title
                            | Rock it
                    div.step-body
                        p
                            | Once finished, your order will be shipped along with any special care instructions necessary.
                            | I'll also notify you when your order ships so you may track it and know when to expect it.

        aside.small
            | *Questions? Visit the Q&amp;A page.

    section.panel.panel-bg.panel-customs
        header.panel-heading.sr-only
            h2.panel-title
                | Customs Form
        div.panel-body
            form(method="post", action=mailer.params.action)
                fieldset.form-group
                    div.row
                        div.col-sm-6
                            p.fstyle-1
                                | Hi, my name is
                            input.form-control(type="text", name="firstname", placeholder=mailer.params.firstname)
                            input.form-control(type="text", name="lastname", placeholder=mailer.params.lastname)
                            input.form-control(type="text", name="email", placeholder=mailer.params.email)
                        div.col-sm-6
                            p.fstyle-1
                                | And I'm interested in
                            div.mk-sm-root
                                select.mk-sm(name="type")
                                    each type, i in mailer.params.types
                                        option(value=i) #{type}
                            p.fstyle-1
                                | With style/artwork like
                            input.form-control(type="text", name="reference-1", placeholder=mailer.params['reference-1'])
                            input.form-control(type="text", name="reference-2", placeholder=mailer.params['reference-2'])
                fieldset.form-group
                    textarea.form-control(name="details", rows="10", placeholder=mailer.params.details)
                fieldset.form-group
                    button.btn(type="submit")
                        | Ready? Send My Request
