
extends ../shared/layouts/base

block content
    section.panel
        header.panel-heading
            h2.panel-title #{details.name}
        div.panel-body
            div.article
                div.article-figure
                    img.img-responsive(src=details.series[0], alt=details.name)
                div.article-details
                    h3.article-title
                        | Details
                    p.article-desc #{details.desc}
                    dl.article-dl
                        dt Price
                        dd #{details.price} #{details.currency}
